<%- include ("partials/header.ejs") %>
 <div class="container " style="background-image:url('https://www.holidify.com/images/cmsuploads/compressed/49209820_20190213132038.jpg');background-repeat: no-repeat;background-size: cover;">
     <!-- <header class="jumbotron">
         <div class="container">
<h1>Landing Page!</h1>

<p>Welcome to YelpCamp</p>

<a href="/campgrounds">View All Campgrounds</a>
		 </div>
	 </header>
</div> -->
 -->
<!-- <!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>YelpCamp</title> -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/landing.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>

		


		<div id="landing-header" class="text-center" style="padding:14% 14%; ">
			<h1 style=" color : white ;">Welcome to YelpCamp!</h1>
			<a href="/campgrounds" class="btn btn-lg btn-default">Get Started</a>
		</div>

		<!-- <ul class="slideshow">
			<li>hi</li>
			<li>h</li>
			<li>h</li>
			<li>h</li>
			<li>yy</li>
		</ul> -->
	</div>
<%- include ("partials/footer.ejs") %>